<div>
  <link href="./container1.css" rel="stylesheet" />
  <div class="container1-container">
    <svg viewBox="0 0 1024 1024" class="container1-icon">
      <path
        d="M704 64l-320 320h-192l-192 256c0 0 203.416-56.652 322.066-30.084l-322.066 414.084 421.902-328.144c58.838 134.654-37.902 328.144-37.902 328.144l256-192v-192l320-320 64-320-320 64z"
      ></path>
    </svg>
    <h1 class="container1-text"><span>Test Title</span></h1>
    <span class="container1-text1">
      <span>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form.
      </span>
    </span>
  </div>
</div>
