<div>
  <link href="./our-discord.css" rel="stylesheet" />
  <a
    href="https://discord.gg/mTXAC6gmvY"
    target="_blank"
    rel="noreferrer noopener"
  >
    <div class="our-discord-container">
      <button class="our-discord-our-discord button">
        <svg viewBox="0 0 1024 1024" class="our-discord-icon">
          <path
            d="M738 470h72q0 108-75 189t-181 97v140h-84v-140q-106-16-181-97t-75-189h72q0 94 67 155t159 61 159-61 67-155zM512 598q-52 0-90-38t-38-90v-256q0-52 38-90t90-38 90 38 38 90v256q0 52-38 90t-90 38z"
          ></path>
        </svg>
        <span class="our-discord-text"><span>OUR DISCORD</span></span>
      </button>
    </div>
  </a>
</div>
