.navigation-links-nav {
  flex: 0 0 auto;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-size: 16px;
  transition: 0.3s;
  font-family: Inter;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: #1466ff;
}
.navigation-links-text {
  font-size: 16px;
  transition: 0.3s;
  font-family: Inter;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text:hover {
  color: #1466ff;
}
.navigation-links-link {
  font-size: 16px;
  transition: 0.3s;
  font-family: Inter;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link:hover {
  color: #1466ff;
}
.navigation-links-text1 {
  font-size: 16px;
  transition: 0.3s;
  font-family: Inter;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text1:hover {
  color: #1466ff;
}
.navigation-links-text2 {
  font-size: 16px;
  transition: 0.3s;
  font-family: Inter;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2:hover {
  color: #1466ff;
}








.navigation-links-root-class-name10 {
  width: 100%;
  align-self: stretch;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
